.main-container {
  display: flex;
  width: 100vw;
  padding: 40px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  font-family: "sans-serif";
  font-size: 20px;
}
.price-text-color {
  color: #00a699;
  font-weight: 800;
  font-size: 24px;
}
.macbook-heading {
  margin: 0px;
}
